.library-container{
    background: gray;
    padding: 20px 0px;
}
.library-content img{
    border: 0;
    border-radius: 10px;
    transition: all 0.3s ease-in-out; 
}

.library-content img:hover{
    transform: translateX(-85px);
}

.library-title{
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    background: black;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.library-title:hover{
    transform: translateX(85px);
}
.library-title h3{
    font-weight: 200;
}