.Details .Detials-img{
    text-align: center;
}
.Details .Detials-img img{
    border: 20px solid black;
}
.title{
    font-size: 18px;
    font-weight: bold;
}
.Details-content{
    padding: 0px 40px;
}
.Details .Details-content .Details-title{
    display: flex;
    justify-content: space-between;
}

.confirmBtn{
    padding: 10px;
    background:turquoise;
    color: rgb(56, 52, 45);
    font-size: 16px;
    font-weight: 300;
    border: 0;
    border-radius: 10px;

}
